$height : 350px;

html, body {
  font-family: "Open Sans";
  background: #e8e8e8;
  height: 98%;
}

.container {
  width: 100%;
  height: 100%;
}

.assignment-container{
  height: $height;
  display: flex;
}

.assignment-task{
  width: 25%;

  overflow-y: scroll;
}

.assignment-list {
  display: flex;
  flex-wrap: wrap;

  .assignment-preview {

	width: 80px;
	height: 80px;

	padding: 5px;

	img {
	  width: 100%;
	  height: 100%;
	  cursor: pointer;
	}
  }
}

#hint{
  padding: 50px;
}

.result-container {
  height: calc(100% - 350px);

  iframe{
	width: 99%;
	height: 99%;
  }
}